{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/css/main.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="row">
        <div class="container">
            <div class="hidden-md hidden-lg">
                <div class="alert alert-info text-center">
                    <p>
                        Lo siente la aplicaci贸n no se puede ajustar a dispositivos m贸viles, 
                        te invitamos a que uses un navegador de escritorio para que disfrutes de toda la informaci贸n.
                    </p>
                </div>
                <img class="img-circle img-responsive img-center center-block" src="{{ asset("/bundles/appfrontend/images/complejidad.jpg") }}" alt="">
            </div>
            <div class="hidden-sm hidden-xs">
                <div class="data-invitation" data-slug="{{ slug }}"></div>
                <div class="col-xs-12">
                    <div class="alert alert-info">
                        <h3 class="text-center" id="titulo">Bienvenido puede buscar tu invitaci贸n en la casa</h3>
                    </div>
                    <canvas id="campo" class="campo" width="500" height="500"></canvas>

                    <br/>

                    <div class="alert alert-success">
                        <p class="text-center">Puedes mover el personaje con las teclas
                            <img class="img-responsive center-block" src="{{ asset("bundles/appfrontend/images/key_arrows.jpg") }}" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% block javascripts %}
        {{ parent() }}
        <script src="{{  asset('bundles/appfrontend/js/app.js') }}" ></script>
        <script src="{{  asset('bundles/appfrontend/js/game.js') }}" ></script>
    {% endblock %}
{% endblock %}