{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/css/main.css') }}">
{% endblock %}

{% block body %} 
    <body>
        <img class="img-fondo" src="{{ asset("bundles/appfrontend/images/casa-dentro.jpg") }}" class="center-block"/>
        <div class="row">
            {{ parent() }}
            <div class="data-invitation" data-slug="{{ slug }}"></div>
            <div>
                <input type="checkbox" id="top-checkbox"/>
                <label for="top-checkbox" id="treasurechest">
                        <div id="treasurechest-top"></div>
                </label>
                <div id="treasurechest-bottom"></div>
                <div id="treasurechest-bg"></div>
                <div class="rupee" id="rupee"></div>
                <div class="letter hidden" id="letter">
                    <div class="letter-info">
                        <h3>Hola, <b>{{ invitation.name }} {{ invitation.lastname }}</b>.</h3>
                        <p>Estás cordialmente invitado a la <b>{{ dataInvitation.presentation }}</b>.</p>
                        <p>Que tendrá lugar el día <time><b>{{ dataInvitation.dataInvitation|date('d M Y') }}</b></time>.</p>
                        <p>En el salón de clases {{ dataInvitation.livingRoom }}</b>.</p>
                        <p>Hora inicio <time><b>{{ dataInvitation.dataInvitation|date('H:i:s') }}</b></time>.</p>
                        <ul>
                            <p>Están cordialmente invitados por:</p>
                            {% for host in dataInvitation.hosts %}
                                <li><b>{{ host }}</b></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <audio id="treasure-sound">
                    <source src="{{ asset("bundles/appfrontend/audio/zeldaAudio.mp3") }}"></source>
                    Your browser isn't invited for super fun audio time.
                </audio>
                <div id="instructions">Abre el cofre</div>
            </div>
        </div>

        {% block javascripts %}
            {{ parent() }}
            <script src="{{  asset('bundles/appfrontend/js/app.js') }}" ></script>
            <script src="{{  asset('bundles/appfrontend/js/tesure.js') }}" ></script>
        {% endblock %}
    </body>
{% endblock %}